:root {
  --step-0: clamp(1.125rem, 1.1009rem + 0.1205vw, 1.25rem);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--step-0);
  text-decoration: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  color: white;
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 0.5rem;
  margin-left: auto;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
